<h3>Preferences</h3>
<div class="preferences-container">
    <form #f="ngForm">
        <div class="grade-container">
            <label>Select Grade:</label>
            <select name="selectGrade" class="form-control" [(ngModel)]="currentGrade" (change)="onSelectGrade($event, keysData)">
                <!-- <option value="1">Grade 1</option> -->
                <!-- <option value="2">Grade 2</option> -->
                <!-- <option value="3">Grade 3</option> -->
                <option value="4">Grade 4</option>
            </select>
        </div>
        <div class="key-container">
            <span class="menu-heading" >Keys:</span>
            <div id="keys-group" ngModelGroup="keys" (change)="onSelectKeys($event, keysData)" #keysData="ngModelGroup">
                <label *ngFor="let key of keys" class="form-control">
                    <input type="checkbox" value="{{ key }}" name="{{ key }}" [ngModel]="defaultChecked">
                    {{ key[0] }}
                </label>
            </div>
        </div>
    </form>
</div>